[merge]
    #tool = winmerge
    #tool = vimdiff
    tool = meld
[mergetool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[mergetool "winmerge"]
    name = WinMerge
    trustExitCode = true
	path = C:/Program Files (x86)/WinMerge/winmergeu.exe
    cmd = \"C:/Program Files (x86)/WinMerge/winmergeu.exe\" -u -e -dl \"Base\" -dr \"Mine\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[diff]
    #tool = vimdiff
    #tool = winmerge
    tool = meld
[difftool "winmerge"]
	path = C:/Program Files (x86)/WinMerge/winmergeu.exe
	cmd = \"C:/Program Files (x86)/WinMerge/winmergeu.exe\" -r -u \"$LOCAL\" \"$REMOTE\"
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    #cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[format]
	pretty = %Cblue%h%Creset %Cgreen[%cr]%Creset (%an) %s
[alias]
    s = status
    a = add
    all = add -A
    b = branch
    bd = branch -d
    sf = show --pretty="format:" --name-only
    co = checkout
    c = commit -m
    ci = commit
    ca = commit --amend
    #d = diff
    #dc = diff --cached
    dt = difftool
    dtc = difftool --cached
    #pl = "!f() { git fetch; git rebase --preserve-merges origin/`git rev-parse --abbrev-ref HEAD` ; }; f"
    pl = pull --rebase
    su = submodule update --init --recursive
    ps = push
    l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)%an%Creset' --abbrev-commit --date=relative
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)%an%Creset' --abbrev-commit --date=relative
    lc = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --oneline --all --decorate
    out = log origin..HEAD
    # Alternate log display from Scott Chacon
    lol = log --pretty=oneline --abbrev-commit --graph --decorate
    clean = clean -xdf
[user]
    name = Nedyalko Nikolov
    email = nedyalko.nikolov@softwaregroup.com
[difftool "sourcetree"]
	cmd = 'C:/Program Files (x86)/Microsoft Visual Studio 11.0/Common7/IDE/vsdiffmerge.exe' $LOCAL $REMOTE //t
[http]
	postBuffer = 52428800
[branch]
	autosetuprebase = always
[push]
	default = upstream
[core]
	compression = 0
	editor = vim
[mergetool "sourcetree"]
	cmd = 'C:/Program Files (x86)/Microsoft Visual Studio 11.0/Common7/IDE/vsdiffmerge.exe' $REMOTE $LOCAL $BASE $MERGED //m
	trustExitCode = true
[difftool]
	prompt = false 
